***This Notebook is Intended to Merge data from the Demographics CSV and the Solar Panel Detection***

In [1]:
import pandas as pd

Step 1 : Merge all Rooftop CSV files

In [2]:
import pandas as pd
import glob

# Path to your folder containing the CSVs
path = "/home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/*.csv"

# Read all CSVs
csv_files = glob.glob(path)

dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    print(f"Loaded {file} with shape {df.shape}")
    # Optional: Add filename or year from filename
    # Example: extract year like Munich2018 → 2018
    # import re
    # year = re.findall(r"\d{4}", file)[0]
    # df["year"] = int(year)
    
    dfs.append(df)

# Merge vertically (stack rows)
merged_df = pd.concat(dfs, ignore_index=True)

# Save result
merged_df.to_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/MergedRooftop.csv", index=False)

print("Merged into MergedRooftop.csv")

Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2012.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2020.csv with shape (1564, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2009.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2015.csv with shape (1534, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2022.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2018.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2003.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2024.csv with shape (1566, 13)
Loaded /home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/Rooftop_with_district_2006.csv with shape (1565, 13)
Merged into MergedRooftop.csv

In [3]:
df_tiles = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/Rooftop_Data/clean/MergedRooftop.csv")
df_unemployment = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/Unemployment/cleaned_districts_unemployment.csv")  
df_average_age = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/population/average_age_population.csv")
df_old = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/population/old_population.csv")
df_young = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/population/young_population.csv")
df_total_population = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/population/overall_population.csv")
df_houses = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/CSV_data/Houses/standAloneHouses.csv")

In [4]:
df_unemployment["District"] = df_unemployment["District"].astype(str).str.zfill(2)
df_average_age["District"] = df_average_age["District"].astype(str).str.zfill(2)
df_old["District"] = df_old["District"].astype(str).str.zfill(2)
df_young["District"] = df_young["District"].astype(str).str.zfill(2)
df_total_population["District"] = df_total_population["District"].astype(str).str.zfill(2)
df_houses["District"] = df_houses["District"].astype(str).str.zfill(2)
df_tiles["district_number"] = df_tiles["district_number"].astype(str).str.zfill(2)

In [5]:
df_merged = df_tiles.merge(
    df_unemployment[['Year', 'District', 'Value']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [6]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [7]:
df_merged = df_merged.rename(columns={"Value": "Unemployment_Rate"})

In [8]:
df_merged = df_merged.drop(columns=["tile_centroid_lat", "tile_centroid_lon", "district_name", "distance_to_district_m" ,"match_type", "square_meters_without_solar_m2" ])

In [9]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate
0,tile_r0_c0,7,5,529.887,101.361,20,2012,"3,8"
1,tile_r0_c1,9,9,0.000,0.000,20,2012,"3,8"
2,tile_r0_c10,90,80,3339.949,201.642,21,2012,"3,2"
3,tile_r0_c11,97,90,2715.933,343.005,21,2012,"3,2"
4,tile_r0_c12,42,39,5222.084,75.094,21,2012,"3,2"
...,...,...,...,...,...,...,...,...
14054,tile_r9_c5,133,128,1730.995,57.297,20,2006,"5,7"
14055,tile_r9_c6,107,101,2633.512,86.413,20,2006,"5,7"
14056,tile_r9_c7,83,77,2363.406,133.379,25,2006,"5,5"
14057,tile_r9_c8,58,53,3174.716,53.238,25,2006,"5,5"
14058,tile_r9_c9,123,113,2510.627,171.915,21,2006,5

In [10]:
df_merged = df_merged.merge(
    df_average_age[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [11]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Year,District,Population
0,tile_r0_c0,7,5,529.887,101.361,20,2012,"3,8",2012,20,"42,9"
1,tile_r0_c1,9,9,0.000,0.000,20,2012,"3,8",2012,20,"42,9"
2,tile_r0_c10,90,80,3339.949,201.642,21,2012,"3,2",2012,21,"42,2"
3,tile_r0_c11,97,90,2715.933,343.005,21,2012,"3,2",2012,21,"42,2"
4,tile_r0_c12,42,39,5222.084,75.094,21,2012,"3,2",2012,21,"42,2"
...,...,...,...,...,...,...,...,...,...,...,...
14054,tile_r9_c5,133,128,1730.995,57.297,20,2006,"5,7",2006,20,"42,6"
14055,tile_r9_c6,107,101,2633.512,86.413,20,2006,"5,7",2006,20,"42,6"
14056,tile_r9_c7,83,77,2363.406,133.379,25,2006,"5,5",2006,25,"43,4"
14057,tile_r9_c8,58,53,3174.716,53.238,25,2006,"5,5",2006,25,"43,4"
14058,tile_r9_c9,123,113,2510.627,171.915,21,2006,5,2006,21,"42,1"

In [12]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [13]:
df_merged = df_merged.rename(columns={"Population": "Average_Age"})

In [14]:
df_merged = df_merged.merge(
    df_old[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [15]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [16]:
df_merged = df_merged.rename(columns={"Population": "Elderly_Population"})

In [17]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Average_Age,Elderly_Population
0,tile_r0_c0,7,5,529.887,101.361,20,2012,"3,8","42,9",10627.0
1,tile_r0_c1,9,9,0.000,0.000,20,2012,"3,8","42,9",10627.0
2,tile_r0_c10,90,80,3339.949,201.642,21,2012,"3,2","42,2",13608.0
3,tile_r0_c11,97,90,2715.933,343.005,21,2012,"3,2","42,2",13608.0
4,tile_r0_c12,42,39,5222.084,75.094,21,2012,"3,2","42,2",13608.0
...,...,...,...,...,...,...,...,...,...,...
14054,tile_r9_c5,133,128,1730.995,57.297,20,2006,"5,7","42,6",9505.0
14055,tile_r9_c6,107,101,2633.512,86.413,20,2006,"5,7","42,6",9505.0
14056,tile_r9_c7,83,77,2363.406,133.379,25,2006,"5,5","43,4",10182.0
14057,tile_r9_c8,58,53,3174.716,53.238,25,2006,"5,5","43,4",10182.0
14058,tile_r9_c9,123,113,2510.627,171.915,21,2006,5,"42,1",12045.0

In [18]:
df_merged = df_merged.merge(
    df_young[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [19]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Population": "Young_Population"})

In [20]:
df_merged = df_merged.merge(
    df_total_population[['Year', 'District', 'Overall Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [21]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Overall Population": "Total_Population"})

In [22]:
df_merged = df_merged.merge(
    df_houses[['Year', 'District', 'Value']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [23]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Value": "Number_of_Houses"})

In [24]:
df_merged
#for some reason tile_r54_c10  , tile_r54_c22 missing in 2020

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Average_Age,Elderly_Population,Young_Population,Total_Population,Number_of_Houses
0,tile_r0_c0,7,5,529.887,101.361,20,2012,"3,8","42,9",10627.0,7361.0,47949,NaN
1,tile_r0_c1,9,9,0.000,0.000,20,2012,"3,8","42,9",10627.0,7361.0,47949,NaN
2,tile_r0_c10,90,80,3339.949,201.642,21,2012,"3,2","42,2",13608.0,11579.0,69295,NaN
3,tile_r0_c11,97,90,2715.933,343.005,21,2012,"3,2","42,2",13608.0,11579.0,69295,NaN
4,tile_r0_c12,42,39,5222.084,75.094,21,2012,"3,2","42,2",13608.0,11579.0,69295,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14054,tile_r9_c5,133,128,1730.995,57.297,20,2006,"5,7","42,6",9505.0,7243.0,44993,NaN
14055,tile_r9_c6,107,101,2633.512,86.413,20,2006,"5,7","42,6",9505.0,7243.0,44993,NaN
14056,tile_r9_c7,83,77,2363.406,133.379,25,2006,"5,5","43,4",10182.0,6152.0,50028,NaN
14057,tile_r9_c8,58,53,3174.716,53.238,25,2006,"5,5","43,4",10182.0,6152.0,50028,NaN
14058,tile_r9_c9,123,113,2510.627,171.915,21,2006,5,"42,1",12045.0,10395.0,63763,NaN

In [25]:
# Tiles present in 2020
tiles_2020 = set(df_merged[df_merged["year"] == 2020]["tile"])

# Tiles present in 2024
tiles_2024 = set(df_merged[df_merged["year"] == 2022]["tile"])

new_tiles_2024 = tiles_2024 - tiles_2020

df_new_tiles_2024 = df_merged[
    (df_merged["year"] == 2022) & 
    (df_merged["tile"].isin(new_tiles_2024))
]

print(df_new_tiles_2024)

              tile  total_rooftops  rooftops_without_solar  \
7555  tile_r54_c10              76                      66
7568  tile_r54_c22               0                       0

      square_meters_with_solar_m2  panel_area_m2 district_number  year  \
7555                     4666.031        547.458              15  2022
7568                        0.000          0.000              13  2022

     Unemployment_Rate Average_Age  Elderly_Population  Young_Population  \
7555               3,3        40,6             11861.0           15096.0
7568               2,7        42,2             18080.0           15916.0

      Total_Population  Number_of_Houses
7555             75998             436.0
7568             94317             204.0

In [26]:
df_merged.to_csv("/home/elsherif/Desktop/Thesis/ViewPython/data/Train Data/rooftop.csv", index=False)