***This Notebook is Intended to Merge data from the Demographics CSV and the Solar Panel Detection***

In [107]:
import pandas as pd

In [108]:
df_unemployment = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/Unemployment/cleaned_districts_unemployment.csv")  
df_tiles = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/GeoJsontoZip/tiles_with_district_year.csv")
df_average_age = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/population/average_age_population.csv")
df_old = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/population/old_population.csv")
df_young = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/population/young_population.csv")
df_total_population = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/population/overall_population.csv")
df_houses = pd.read_csv("/home/elsherif/Desktop/Thesis/ViewPython/CSV_data/Houses/standAloneHouses.csv")

In [109]:
df_unemployment["District"] = df_unemployment["District"].astype(str).str.zfill(2)
df_average_age["District"] = df_average_age["District"].astype(str).str.zfill(2)
df_old["District"] = df_old["District"].astype(str).str.zfill(2)
df_young["District"] = df_young["District"].astype(str).str.zfill(2)
df_total_population["District"] = df_total_population["District"].astype(str).str.zfill(2)
df_houses["District"] = df_houses["District"].astype(str).str.zfill(2)
df_tiles["district_number"] = df_tiles["district_number"].astype(str).str.zfill(2)

In [110]:
df_merged = df_tiles.merge(
    df_unemployment[['Year', 'District', 'Value']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [111]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [112]:
df_merged = df_merged.rename(columns={"Value": "Unemployment_Rate"})

In [113]:
df_merged = df_merged.drop(columns=["tile_centroid_lat", "tile_centroid_lon", "district_name"])

In [114]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,square_meters_without_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate
0,tile_r0_c0,32,27,10850.499,17649.257,623.344,08,2024,"4,4"
1,tile_r0_c1,21,17,3071.190,13732.183,115.688,03,2024,"3,2"
2,tile_r0_c2,31,25,17782.961,19048.644,725.604,09,2024,"3,3"
3,tile_r0_c3,42,35,22087.602,27732.217,659.555,09,2024,"3,3"
4,tile_r0_c4,51,40,12059.705,29096.911,205.490,09,2024,"3,3"
...,...,...,...,...,...,...,...,...,...
163,tile_r9_c1,11,9,3090.597,10571.962,133.108,01,2024,3
164,tile_r9_c2,22,16,23971.423,27030.802,972.337,03,2024,"3,2"
165,tile_r9_c3,38,30,12291.980,24387.764,738.366,03,2024,"3,2"
166,tile_r9_c4,18,13,23046.501,17208.947,992.829,03,2024,"3,2"
167,tile_r9_c5,11,11,0.000,1660.758,0.000,03,2024,"3,2"

In [115]:
df_merged = df_merged.merge(
    df_average_age[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [116]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,square_meters_without_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Year,District,Population
0,tile_r0_c0,32,27,10850.499,17649.257,623.344,08,2024,"4,4",2024,08,"40,5"
1,tile_r0_c1,21,17,3071.190,13732.183,115.688,03,2024,"3,2",2024,03,"38,5"
2,tile_r0_c2,31,25,17782.961,19048.644,725.604,09,2024,"3,3",2024,09,"41,4"
3,tile_r0_c3,42,35,22087.602,27732.217,659.555,09,2024,"3,3",2024,09,"41,4"
4,tile_r0_c4,51,40,12059.705,29096.911,205.490,09,2024,"3,3",2024,09,"41,4"
...,...,...,...,...,...,...,...,...,...,...,...,...
163,tile_r9_c1,11,9,3090.597,10571.962,133.108,01,2024,3,2024,01,"41,7"
164,tile_r9_c2,22,16,23971.423,27030.802,972.337,03,2024,"3,2",2024,03,"38,5"
165,tile_r9_c3,38,30,12291.980,24387.764,738.366,03,2024,"3,2",2024,03,"38,5"
166,tile_r9_c4,18,13,23046.501,17208.947,992.829,03,2024,"3,2",2024,03,"38,5"
167,tile_r9_c5,11,11,0.000,1660.758,0.000,03,2024,"3,2",2024,03,"38,5"

In [117]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [118]:
df_merged = df_merged.rename(columns={"Population": "Average_Age"})

In [119]:
df_merged = df_merged.merge(
    df_old[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [120]:
df_merged = df_merged.drop(columns=['Year', 'District'])

In [121]:
df_merged = df_merged.rename(columns={"Population": "Elderly_Population"})

In [122]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,square_meters_without_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Average_Age,Elderly_Population
0,tile_r0_c0,32,27,10850.499,17649.257,623.344,08,2024,"4,4","40,5",3752.0
1,tile_r0_c1,21,17,3071.190,13732.183,115.688,03,2024,"3,2","38,5",6317.0
2,tile_r0_c2,31,25,17782.961,19048.644,725.604,09,2024,"3,3","41,4",17128.0
3,tile_r0_c3,42,35,22087.602,27732.217,659.555,09,2024,"3,3","41,4",17128.0
4,tile_r0_c4,51,40,12059.705,29096.911,205.490,09,2024,"3,3","41,4",17128.0
...,...,...,...,...,...,...,...,...,...,...,...
163,tile_r9_c1,11,9,3090.597,10571.962,133.108,01,2024,3,"41,7",3346.0
164,tile_r9_c2,22,16,23971.423,27030.802,972.337,03,2024,"3,2","38,5",6317.0
165,tile_r9_c3,38,30,12291.980,24387.764,738.366,03,2024,"3,2","38,5",6317.0
166,tile_r9_c4,18,13,23046.501,17208.947,992.829,03,2024,"3,2","38,5",6317.0
167,tile_r9_c5,11,11,0.000,1660.758,0.000,03,2024,"3,2","38,5",6317.0

In [123]:
df_merged = df_merged.merge(
    df_young[['Year', 'District', 'Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [124]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Population": "Young_Population"})

In [125]:
df_merged = df_merged.merge(
    df_total_population[['Year', 'District', 'Overall Population']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [126]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Overall Population": "Total_Population"})

In [127]:
df_merged = df_merged.merge(
    df_houses[['Year', 'District', 'Value']],
    left_on=['year', 'district_number'],
    right_on=['Year', 'District'],
    how='left'
)

In [128]:
df_merged = df_merged.drop(columns=['Year', 'District'])
df_merged = df_merged.rename(columns={"Value": "Number_of_Houses"})

In [129]:
df_merged

,tile,total_rooftops,rooftops_without_solar,square_meters_with_solar_m2,square_meters_without_solar_m2,panel_area_m2,district_number,year,Unemployment_Rate,Average_Age,Elderly_Population,Young_Population,Total_Population,Number_of_Houses
0,tile_r0_c0,32,27,10850.499,17649.257,623.344,08,2024,"4,4","40,5",3752.0,3763.0,28684,3
1,tile_r0_c1,21,17,3071.190,13732.183,115.688,03,2024,"3,2","38,5",6317.0,5349.0,52434,53
2,tile_r0_c2,31,25,17782.961,19048.644,725.604,09,2024,"3,3","41,4",17128.0,15108.0,101901,35
3,tile_r0_c3,42,35,22087.602,27732.217,659.555,09,2024,"3,3","41,4",17128.0,15108.0,101901,35
4,tile_r0_c4,51,40,12059.705,29096.911,205.490,09,2024,"3,3","41,4",17128.0,15108.0,101901,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,tile_r9_c1,11,9,3090.597,10571.962,133.108,01,2024,3,"41,7",3346.0,2467.0,20876,0
164,tile_r9_c2,22,16,23971.423,27030.802,972.337,03,2024,"3,2","38,5",6317.0,5349.0,52434,53
165,tile_r9_c3,38,30,12291.980,24387.764,738.366,03,2024,"3,2","38,5",6317.0,5349.0,52434,53
166,tile_r9_c4,18,13,23046.501,17208.947,992.829,03,2024,"3,2","38,5",6317.0,5349.0,52434,53
167,tile_r9_c5,11,11,0.000,1660.758,0.000,03,2024,"3,2","38,5",6317.0,5349.0,52434,53